.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* רקע כללי לכל הדפים */
body {
  background-size: cover; /* כדי שהתמונה תכסה את כל המסך */
  background-position: center; /* למרכז את התמונה */
  background-attachment: fixed; /* לגרום לרקע להישאר קבוע כאשר הגולל גולל את הדף */
  font-family: 'Arial', sans-serif; /* להגדיר פונט כללי */

  margin: 0; /* להסיר רווחים סביב הדף */
  padding: 0; /* להסיר ריפודים סביב הדף */
}



